.right {
  position: absolute;
  right: 30px;
}
.left {
  position: absolute;
  left: 30px;
}
.containr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  overflow: auto;
  min-height: 90vh;
  margin-top: 70px;
}
.cap {
  text-transform: capitalize;
}
.upca {
  text-transform: uppercase;
}
.alert {
  margin: 75px 1em 1em 1em;
  z-index: 20;
  position: fixed;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label {
  align-self: flex-start;
}
/* button styles */
button {
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  border: NONE;
  transition: all 0.5s ease-in-out;
}
button:hover {
  filter: brightness(105%);
}
.btn-close {
  height: 0.5em;
}
.btn-acc-pri2 {
  width: 393px;
  height: 60px;
  background: var(--accent);
  color: var(--primary1);
  box-shadow: inset 0px 1px 5px 2px rgba(1, 22, 39, 0.4);
  border-radius: 10px;
}
.btn-sec2-pri3 {
  background: var(--secondary2);
  color: var(--primary3);
  border-radius: 10px;
}

.btn-sec1-acc {
  background: var(--secondary1);
  color: var(--accent);
  border-radius: 10px;
}

.btn-acc-sec1 {
  background: var(--accent);
  color: var(--secondary1);
  border-radius: 66px;
}

.btn-acc-pri1 {
  background: var(--accent);
  color: var(--primary1);
  border-radius: 66px;
}
