nav {
  background: var(--secondary1);
  position: fixed;
  width: 100vw;
  height: 70px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 1;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 70px;
}
nav ul li {
  gap: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--accent);
  text-decoration: none !important;
}

.title:hover {
  color: var(--secondary2);
}

.nav-item {
  top: 20px;
  color: var(--primary1);
  font-size: 1.5rem;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.nav-item:hover {
  color: var(--primary3);
}

.nav-1 {
  margin-left: 1.5rem;
}
.nav-2 {
  margin-left: 8rem;
}

.nav-3 {
  margin-right: 8rem;
}
.nav-4 {
  margin-right: 1.5rem;
}
