@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,500&display=swap");
@import url("colors.css");
@import url("animation.css");
@import url("gen.css");
@import url("nav.css");
@import url("foot.css");
@import url("home.css");
@import url("log-reg.css");
@import url("view-rooms.css");
@import url("room.css");
@import url("seller.css");
@import url("addroom.css");
@import url("404.css");

::-moz-selection {
  /* Code for Firefox */
  color: var(--primary2);
  background: var(--accent);
}

::selection {
  color: var(--primary2);
  background: var(--accent);
}

* {
  padding: 0px;
  margin: 0px;
  color: var(--secondary1);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

body {
  background: var(--primary1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.float {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  bottom: 50px;
  right: 50px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--primary3);
  color: var(--secondary2);
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(46, 0, 65, 0.253);
}

.float:hover {
  width: 80px;
  height: 80px;
  filter: brightness(120%);
  color: var(--secondary1);
}
