@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,500&display=swap");
@import url("colors.css");
@import url("animation.css");
@import url("gen.css");
@import url("nav.css");
@import url("foot.css");
@import url("home.css");
@import url("log-reg.css");

::-moz-selection {
  /* Code for Firefox */
  color: var(--primary2);
  background: var(--accent);
}

::selection {
  color: var(--primary2);
  background: var(--accent);
}

* {
  padding: 0px;
  margin: 0px;
  color: var(--secondary1);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

body {
  background: var(--primary1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
