{% extends 'base.html' %}
{% block room %}
  <div class="room-det-upper">
  <div class="room-det-up-left">
    <img
      src="{{room.image}}"
      class="room-det-thumb"
    />
  </div>
  <div class="room-det-up-right">
    <div class="room-det-size">{{room.room_size}}</div>
    <div class="room-det-address">{{room.address}}</div>
    <div class="room-price-con">
      <div class="room-det-price">Rs.{{room.rate}}</div>
      <div class="room-det-rate">/month</div>
    </div>
    <div class="room-det-area">{{room.area}} sq.ft</div>
    <a href="{% url 'rooms:seller' room.seller_id %}">

    <button class="btn-acc-pri1 room-det-contact">Contact Seller</button>
    </a>
  </div>
  </div>
  <div class="room-det-lower">
    <div class="room-det-over">
    <h1>overview</h1>
    <div class="room-det-over-cont room-det-contr">
      <div class="room-det-over-cont-l">
        <div class="room-det-over-city room-det-over-vl">
          <h3>city:</h3>
          <p>{{room.city}}</p>
        </div>
        <div class="room-det-over-rate room-det-over-vl">
          <h3>rate:</h3>
          <p>{{room.rate}}</p>
        </div>
        <div class="room-det-over-floor room-det-over-vl">
          <h3>floor:</h3>
          <p>{{room.floor}}</p>
        </div>
      </div>
      <div class="room-det-over-cont-r">
        <div class="room-det-over-fur room-det-over-vl">
          <h3>furnishing:</h3>
          <p>{{room.furnishing}}</p>
        </div>
        <div class="room-det-over-area room-det-over-vl">
          <h3>area:</h3>
          <p>{{room.area}}Sq.Ft</p>
        </div>
        <div class="room-det-over-park room-det-over-vl">
          <h3>parking:</h3>
          <p>{{room.parking}}</p>
        </div>
      </div>
    </div>
    </div>
    <div class="room-det-des room-det-contr">
      <h1>description</h1>
      <p>
        {{room.description}}
      </p>
    </div>
    <div class="room-det-sel room-det-contr">
      <h1>seller</h1>
      <div class="room-det-sel-cont">
        <div class="room-det-sel-name">{{user.name}}</div>
        <a href="{% url 'rooms:seller' room.seller_id %}">
        <button class="btn-acc-pri1 room-det-contact">Contact Seller</button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
