{% extends 'base.html' %}
{% block room %}
  <div class="room-det-upper">
  <div class="room-det-up-left">
    <img
      src="https://images.unsplash.com/photo-1616588589676-62b3bd4ff6d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80"
      alt=""
      class="room-det-thumb"
    />
  </div>
  <div class="room-det-up-right">
    <div class="room-det-size">2BHK Apartment</div>
    <div class="room-det-address">Rajajipuram,Lucknow</div>
    <div class="room-price-con">
      <div class="room-det-price">Rs.20,000</div>
      <div class="room-det-rate">/month</div>
    </div>
    <div class="room-det-area">530 sq.ft</div>
    <button class="btn-acc-pri1 room-det-contact">Contact Seller</button>
  </div>
  </div>
  <div class="room-det-lower">
    <div class="room-det-over">
    <h1>overview</h1>
    <div class="room-det-over-cont room-det-contr">
      <div class="room-det-over-cont-l">
        <div class="room-det-over-city room-det-over-vl">
          <h3>city:</h3>
          <p>lucknow</p>
        </div>
        <div class="room-det-over-rate room-det-over-vl">
          <h3>rate:</h3>
          <p>20,000</p>
        </div>
        <div class="room-det-over-floor room-det-over-vl">
          <h3>floor:</h3>
          <p>3rd</p>
        </div>
      </div>
      <div class="room-det-over-cont-r">
        <div class="room-det-over-fur room-det-over-vl">
          <h3>furnishing:</h3>
          <p>unfurnished</p>
        </div>
        <div class="room-det-over-area room-det-over-vl">
          <h3>area:</h3>
          <p>530 Sq.Ft</p>
        </div>
        <div class="room-det-over-park room-det-over-vl">
          <h3>parking:</h3>
          <p>NA</p>
        </div>
      </div>
    </div>
    </div>
    <div class="room-det-des room-det-contr">
      <h1>description</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.  Culpa nostrum
        vero fugiat dicta veniam placeat porro natus perspiciatis   voluptates esse.
        Voluptatem nam odio perspiciatis. Necessitatibus accusamus  deleniti
        dolorem perspiciatis maxime.
      </p>
    </div>
    <div class="room-det-sel room-det-contr">
      <h1>seller</h1>
      <div class="room-det-sel-cont">
        <div class="room-det-sel-name">mohan raj</div>
        <button class="btn-acc-pri1 room-det-contact">Contact   Seller</button>
      </div>
    </div>
  </div>
{% endblock %}
