{% extends 'base.html' %}
{% load static %}
{% block rooms %}
<div class="rooms">
{% if rooms %}
{% for room in rooms %}
  <div class="room">
    <div class="room-left">
      <img
        src="{{room.image}}"
        class="room-img"
      />
    </div>
    <div class="room-right">
      <div class="room-row-1">
        <div class="room-city-con">
          <div class="room-city">city:</div>
          <div class="room-city-name">{{room.city}}</div>
        </div>
        <div class="room-price-con">
          <div class="room-price">Rs.{{room.rate}}</div>
          <div class="room-rate">/month</div>
        </div>
      </div>
      <div class="room-row-2">
        <div class="room-size">{{room.room_size}}</div>
        <div class="room-at">at</div>
        <div class="room-address">{{room.address}}</div>
      </div>
      <div class="room-row-3">
        <a href="{% url 'rooms:seller' room.seller_id %}">
          <button class="btn-acc-sec1 room-contact">Contact Seller</button>
        </a>
        <a href="{% url 'rooms:room' room.room_id%}">
        <button class="btn-acc-sec1 room-view-detials">View Details</button>
        </a>
      </div>
    </div>
  </div>

  
{% endfor %}
{% else %}
<div class="room-at">No Rooms Here</div>
{% endif %}
</div>
{% endblock %}
