{% extends 'base.html' %}
{% load static %}
{% block rooms %}
<div class="rooms">

  <div class="room">
    <div class="room-left">
      <img
        src="https://images.unsplash.com/photo-1616588589676-62b3bd4ff6d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80"
        class="room-img"
      />
    </div>
    <div class="room-right">
      <div class="room-row-1">
        <div class="room-city-con">
          <div class="room-city">city:</div>
          <div class="room-city-name">lucknow</div>
        </div>
        <div class="room-price-con">
          <div class="room-price">Rs.20,000</div>
          <div class="room-rate">/month</div>
        </div>
      </div>
      <div class="room-row-2">
        <div class="room-size">2BHK</div>
        <div class="room-at">at</div>
        <div class="room-address">rajajipuram, lucknow</div>
      </div>
      <div class="room-row-3">
        <a href="/seller">
        <button class="btn-acc-sec1 room-contact">Contact Seller</button>
        </a>
        <a href="/room">
        <button class="btn-acc-sec1 room-view-detials">View Details</button>
        </a>
      </div>
    </div>
  </div>

  <div class="room">
    <div class="room-left">
      <img
        src="https://images.unsplash.com/photo-1616588589676-62b3bd4ff6d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80"
        class="room-img"
      />
    </div>
    <div class="room-right">
      <div class="room-row-1">
        <div class="room-city-con">
          <div class="room-city">city:</div>
          <div class="room-city-name">lucknow</div>
        </div>
        <div class="room-price-con">
          <div class="room-price">Rs.20,000</div>
          <div class="room-rate">/month</div>
        </div>
      </div>
      <div class="room-row-2">
        <div class="room-size">2BHK</div>
        <div class="room-at">at</div>
        <div class="room-address">rajajipuram, lucknow</div>
      </div>
      <div class="room-row-3">
        <a href="/seller">
        <button class="btn-acc-sec1 room-contact">Contact Seller</button>
        </a>
        <a href="/room">
        <button class="btn-acc-sec1 room-view-detials">View Details</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
